.work {
    background-image : url("../images/icon-work.svg"); 
}
.play {
    background-image : url("../images/icon-play.svg"); 
}
.study {
    background-image : url("../images/icon-study.svg"); 
}
.exercise {
    background-image : url("../images/icon-exercise.svg"); 
}
.social {
    background-image : url("../images/icon-social.svg"); 
}
.selfcare {
    background-image : url("../images/icon-self-care.svg"); 
}