.ManagementBox {
    display: flex; 
    flex-direction: column; 
    width: 100%; 
    margin: 24px 0 0 0; 
}

.mainCtnManagement {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    background-color: #1C204B; 
    border-radius: 15px; 
    padding: 28px 24px; 
}

.activityHoursCtn {
    display: flex; 
    flex-direction: column; 
}

.imgAndOldDataCtn {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: flex-end; 
}

.dotIcon {
    height: 5px; 
    width: 20px; 
}

/*  desktop style   */
@media screen and (min-width: 1440px){
    .mainCtnManagement {
        flex-direction: column; 
    }
}

/*  GERER LE STYLE DES COMPOSANT  */