.ManagementBox {
    overflow: hidden; 
    display: flex; 
    flex-direction: column; 
    width: 100%; 
    margin: 24px 0 0 0; 
    border-radius: 15px; 
    background-color: #1C204B; 
}

.mainCtnManagement {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    padding: 28px 24px; 
    border-radius: 15px; 
    background-color: #1C204B; 
}

.activityHoursCtn {
    display: flex; 
    flex-direction: column; 
}

.imgAndOldDataCtn {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: flex-end; 
}

.dotIcon {
    height: 5px; 
    width: 20px; 
}

/*  desktop style   */
@media screen and (min-width: 1440px){
    .ManagementBox {
        margin: 0; 
        width: 255px;
        height: 250px; 
    }
    .mainCtnManagement{
        position: relative; 
        overflow: hidden; 
        z-index: 1; 
        flex-direction: column; 
        border-radius: 15px; 
    }
    .imgAndOldDataCtn{
        align-items: flex-start; 
        margin: 6px 0 0 0; 
    }
    .dotIcon {
        position: absolute; 
        top: 30px; 
        right: 30px; 
    }
}

