.ProfileTimeBox {
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    background-color: #1C204B; 
    border-radius: 15px; 
    overflow: hidden; 
    min-height: 520px; 
}

/*  destkop style  */
@media screen and (min-width: 1440px){
    .ProfileTimeBox {
        width: 255px; 
        margin: 0 30px 0 0; 
    }
}