.TrackingApp {
    width: 375px; 
    display: flex; 
    flex-direction: column; 
    padding: 80px 24px; 
    background-color: #0E1323; 
}

/*  desktop style   */
@media screen and (min-width: 1440px){
    .TrackingApp {
        width: 1440px; 
        flex-direction: row; 
        min-height: 1024px; 
    }
}